<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="This weather app allows you to search locations and see a 7 day forecast."/>
      <title>Weather Forecast App</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
      <link href="styles.css" rel="stylesheet">
   </head>
   <body>
      <form action="/" method="post">
         <div class="form-group">
         <div class="wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="Enter City, Country" id="search-txt" name="location">
               <button type="submit" class="searchButton">
               <i class="fa fa-search"></i>
               </button>
            </div>
         </div>
      </form>
      <main class="main-container">
         <% if (data === '') { %>
         <div class="location-and-date">
            <h1 class="location-and-date_location"><%= homeData.city.name %></h1>
            <div><%= homeData.list[0].day + ' - ' + date %></div>
         </div>
         <div class="current-temperature">
            <div class="current-temperature_icon-container">
               <img src="<%= 'icons/' + homeData.list[0].icon %>" class="current-temperature_icon" alt="homeData['list'][i]['weather'][0]['main']">
            </div>
            <div class="current-temperature_content-container">
               <div class="current-temperature_value"><%= Math.round(homeData.list[0].temp.day) %>&deg;</div>
               <div class="current-temperature_summary"><%= homeData.list[0].weather[0].description %></div>
            </div>
         </div>
         <div class="current-stats">
            <div>
               <div class="current-stats_value"><%= Math.round(homeData.list[0].temp.max) %>&deg;</div>
               <div class="current-stats_label">High</div>
               <div class="current-stats_value"><%= Math.round(homeData.list[0].temp.min) %>&deg;</div>
               <div class="current-stats_label">Low</div>
            </div>
            <div>
               <div class="current-stats_value"><%= Math.round(homeData.list[0].speed) + 'mph ' + homeData.list[0].deg %></div>
               <div class="current-stats_label">Wind</div>
               <div class="current-stats_value"><%= Math.round(homeData.list[0].pop * 100) %>%</div>
               <div class="current-stats_label">Rain</div>
            </div>
            <div>
               <div class="current-stats_value"><%= homeData.list[0].sunrise %></div>
               <div class="current-stats_label">Sunrise</div>
               <div class="current-stats_value"><%= homeData.list[0].sunset %></div>
               <div class="current-stats_label">Sunset</div>
            </div>
         </div>
         <div class="forecast">
            <h2 class="forecast__heading">Next 7 days</h2>
            <div class="forecast__container">
               <% for (var i=1; i < homeData.list.length; i++) { %>
               <div class="forecast__row">
                  <div class="forecast__date">
                     <%= homeData.list[i].day %>
                     <div class="forecast__label"><%= homeData.list[i].dt %></div>
                  </div>
                  <div class="forecast__low">
                     <%= Math.round(homeData.list[i].temp.min) %>&deg;
                     <div class="forecast__label">Low</div>
                  </div>
                  <div class="forecast__high">
                     <%= Math.round(homeData.list[i].temp.max) %>&deg;
                     <div class="forecast__label">High</div>
                  </div>
                  <div class="forecast__icon">
                     <img src="<%= 'icons/' + homeData.list[i].icon %>" alt="homeData['list'][i]['weather'][0]['main']">
                  </div>
                  <div class="forecast__rain">
                     <%= Math.round(homeData.list[i].pop * 100) %>%
                     <div class="forecast__label">Rain</div>
                  </div>
                  <div class="forecast__wind">
                     <%= Math.round(homeData.list[i].speed) + 'mph ' + homeData.list[i].deg %>
                     <div class="forecast__label">Wind</div>
                  </div>
               </div>
               <% } %>
            </div>
         </div>
         <% } else if (data === '0') { %>
         <div>
            <p>Location not found.</p>
         </div>
         <% } else { %>
         <div class="location-and-date">
            <h1 class="location-and-date_location"><%= data.city.name %></h1>
            <div><%= data.list[0].day + ' - ' + date %></div>
         </div>
         <div class="current-temperature">
            <div class="current-temperature_icon-container">
               <img src="<%= 'icons/' + data.list[0].icon %>" class="current-temperature_icon" alt="data['list'][0]['weather'][0]['main']">
            </div>
            <div class="current-temperature_content-container">
               <div class="current-temperature_value"><%= Math.round(data.list[0].temp.day) %>&deg;</div>
               <div class="current-temperature_summary"><%= data.list[0].weather[0].description %></div>
            </div>
         </div>
         <div class="current-stats">
            <div>
               <div class="current-stats_value"><%= Math.round(data.list[0].temp.max) %>&deg;</div>
               <div class="current-stats_label">High</div>
               <div class="current-stats_value"><%= Math.round(data.list[0].temp.min) %>&deg;</div>
               <div class="current-stats_label">Low</div>
            </div>
            <div>
               <div class="current-stats_value"><%= Math.round(data.list[0].speed) + 'mph ' + data.list[0].deg %></div>
               <div class="current-stats_label">Wind</div>
               <div class="current-stats_value"><%= Math.round(data.list[0].pop * 100) %>%</div>
               <div class="current-stats_label">Rain</div>
            </div>
            <div>
               <div class="current-stats_value"><%= data.list[0].sunrise %></div>
               <div class="current-stats_label">Sunrise</div>
               <div class="current-stats_value"><%= data.list[0].sunset %></div>
               <div class="current-stats_label">Sunset</div>
            </div>
         </div>
         <div class="forecast">
            <h2 class="forecast__heading">Next 7 days</h2>
            <div class="forecast__container">
               <% for (var i=1; i < data.list.length; i++) { %>
               <div class="forecast__row">
                  <div class="forecast__date">
                     <%= data.list[i].day %>
                     <div class="forecast__label"><%= data.list[i].dt %></div>
                  </div>
                  <div class="forecast__low">
                     <%= Math.round(data.list[i].temp.min) %>&deg;
                     <div class="forecast__label">Low</div>
                  </div>
                  <div class="forecast__high">
                     <%= Math.round(data.list[i].temp.max) %>&deg;
                     <div class="forecast__label">High</div>
                  </div>
                  <div class="forecast__icon">
                     <img src="<%= 'icons/' + data.list[i].icon %>" alt="data['list'][i]['weather'][0]['main']">
                  </div>
                  <div class="forecast__rain">
                     <%= Math.round(data.list[i].pop * 100) %>%
                     <div class="forecast__label">Rain</div>
                  </div>
                  <div class="forecast__wind">
                     <%= Math.round(data.list[i].speed) + 'mph ' + data.list[i].deg %>
                     <div class="forecast__label">Wind</div>
                  </div>
               </div>
               <% } %>
            </div>
         </div>
         <% } %>
      </main>
   </body>
</html>