
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weather App</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
  <link href="site.css" rel="stylesheet">
</head>
<body>

  <main class="main-container">
    <form action="/" method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="location" placeholder="Location" id="search-txt">
      </div>
      <button type="submit" >Search</button>
    </form>
    <% if (data === '') { %>
      
      <% } else if (data === '0') { %>
        <div>
          <p>Location not found.</p>
        </div>
        
        <% } else { %>
          <div class="location-and-date">
            <h1 class="location-and-date__location"><%= data.city.name %></h1>
            <div><%= date %></div>
          </div>

          <div class="current-temperature">
            <div class="current-temperature__icon-container">
              <!-- <img src="icons/mostly-sunny.svg" class="current-temperature__icon" alt=""> -->
              <%- data.list[0].weather[0].icon %>
            </div>
            <div class="current-temperature__content-container">
              <div class="current-temperature__value"><%= data.list[0].temp.day %>&deg;</div>
              <div class="current-temperature__summary"><%= data.list[0].weather[0].description %></div>
            </div>
          </div>
    <% } %>
  </main>
</body>
</html>